@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400&display=swap');

body {
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 100px;
}
